{% extends "AppFinanzas/base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1 class="mt-4">Bienvenido a GestArg</h1>
<p>Una página para manejar todos los ingresos y gastos de tu emprendimiento.</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Total de Ingresos</div>
            <div class="card-body">
                <h5 class="card-title">${{ total_ingresos }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Total de Gastos</div>
            <div class="card-body">
                <h5 class="card-title">${{ total_gastos }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Cantidad de Clientes</div>
            <div class="card-body">
                <h5 class="card-title">{{ cantidad_clientes }}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Gráfico de Tendencias -->
<div class="row mt-4">
    <div class="col-md-12">
        <h3>Gráficos de Tendencias</h3>
        <canvas id="tendenciasChart"></canvas>
    </div>
</div>

<!-- Incluir Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Configurar el gráfico -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('tendenciasChart').getContext('2d');
    var tendenciasChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse('{{ fechas|safe }}'), // Etiquetas del eje X
            datasets: [{
                label: 'Ingresos',
                data: JSON.parse('{{ ingresos_totales|safe }}'), // Datos de ingresos
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderWidth: 1
            }, {
                label: 'Gastos',
                data: JSON.parse('{{ gastos_totales|safe }}'), // Datos de gastos
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Fecha'
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 10
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Monto'
                    },
                    beginAtZero: true
                }
            }
        }
    });
});
</script>
{% endblock %}
